$sans: 'Open Sans', Arial, Helvetica, sans-serif;
$serif: 'Neuton', serif;
$blue: #2c71a8;
$blue-gray: desaturate(lighten($blue, 5%), 35%);
$white: #f7f7f7;
$border: #e9e7e7;

$mobile: 480;
$tablet: 768;
$desktop: 1000;
$container: 1000;

@mixin round($radius) {
  -webkit-border-radius: $radius; 
          border-radius: $radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
@mixin gradient($top, $bottom, $fallback: "imgs/fallback.png") {
  background-color: $top;
  background-image: url($fallback);
  background-position: 0 0;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom)); 
  background-image: -webkit-linear-gradient(top, $top, $bottom); 
  background-image:    -moz-linear-gradient(top, $top, $bottom); 
  background-image:      -o-linear-gradient(top, $top, $bottom); 
  background-image:         linear-gradient(to bottom, $top, $bottom);
}

@mixin trans($type, $speed: 0.3s) {
  -webkit-transition: $type $speed linear;
     -moz-transition: $type $speed linear;
       -o-transition: $type $speed linear;
          transition: $type $speed linear;
}
$viewport-width: false !default;
@mixin above-width($width: $tablet) {
  // @if $viewport-width {
  //   @if $viewport-width >= $width {
  //     @content;
  //   }
  // }
  // @else {
    @media screen and (min-width: rem($width)) {
      @content;
    }
  // }
}
@mixin below-width($width: $tablet) {
  // @if $viewport-width {
  //   @if $viewport-width <= $width {
  //     @content;
  //   }
  // }
  // @else {
    @media screen and (max-width: rem($width)) {
      @content;
    }
  // }
}
/*  
Theme Name: Crander
Theme URI: http://cranderveldt.com
Description: Theme designed by Jamielyn Smith.
Author: <a href="http://cranderveldt.com">Cranderveldt</a>   
Author URI: http://cranderveldt.com
Version: 1.0 
License: Copyright (c) 2012 Cranderveldt
License URI: http://cranderveldt.com
*/