/*
Syntax error: Invalid CSS after "    height: 100%": expected ";", was ":"
        on line 327 of sass/style.scss

322:   iframe {
323:     position: absolute;
324:     top: 0;
325:     left: 0;
326:     width: 100%;
327:     height: 100%:
328:   }
329: }
330: .max1400 {
331:   max-width: 1400px;
332:   margin: 0 auto;

Backtrace:
sass/style.scss:327
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:1010:in `expected'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:956:in `expected'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:951:in `tok!'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:513:in `block in declaration_or_ruleset'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:994:in `call'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:994:in `rethrow'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:519:in `declaration_or_ruleset'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:481:in `block_child'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:473:in `block_contents'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:462:in `block'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:456:in `ruleset'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:518:in `block in declaration_or_ruleset'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:994:in `call'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:994:in `rethrow'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:519:in `declaration_or_ruleset'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:481:in `block_child'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:473:in `block_contents'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:462:in `block'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:456:in `ruleset'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:480:in `block_child'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:473:in `block_contents'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:58:in `stylesheet'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/scss/parser.rb:27:in `parse'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/engine.rb:327:in `_to_tree'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/engine.rb:300:in `_render'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/engine.rb:247:in `render'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:200:in `each'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/Traev/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.19/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    height: 100%\": expected \";\", was \":\"\A         on line 327 of sass/style.scss\A \A 322:   iframe {\A 323:     position: absolute;\A 324:     top: 0;\A 325:     left: 0;\A 326:     width: 100%;\A 327:     height: 100%:\A 328:   }\A 329: }\A 330: .max1400 {\A 331:   max-width: 1400px;\A 332:   margin: 0 auto;"; }
